@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script src="~/Scripts/dist/jstree.js"></script>
<link rel="stylesheet" href="~/Scripts/dist/themes/default/style.css" />
<link rel="stylesheet" href="~/Content/dashboard.css" />
<div class="row"  style="margin-top: 5px;">
    <div class="col-sm-3 col-md-3 sidebar">
        <div class="modal-footer" style="margin-top: 5px; padding-top: 5px; text-align: center; border-top: 0px;">
            <button type="button" class="btn btn-info" id="btnAddGroup" data-toggle="modal" data-target="#addGroupPop">Add</button>
            <button type="button" class="btn btn-danger" id="btnRemoveGroup" data-toggle="modal" data-target="#removeGroupPop">Remove</button>
        </div>
        <div id="groupTree" style="min-width:300px;">
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main"  style="margin-top: 5px; padding-top: 5px;">
        <h2 style="margin-top: 5px;">Manage: <span id="spanTitle">Root</span> Group</h2>
        <hr />
        <div class="upperPane" stlye="">
            <h3>Report List</h3>
            <div id="grid" style="min-width:400px;height:250px;overflow:auto;" >
                <div>
                    <table class="table table-striped table-bordered table-condensed table-hover">
                        <thead>
                            <tr>
                                <th data-column="ReportID"  data-align="center">Report ID</th>
                                <th data-column="ReportName" data-sort="true" data-search="true" data-action="grid_click">Report Name</th>
                                <th data-column="ReportPath">Report Path</th>
                                <th data-column="IsActive" data-align="center">Active</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 5px; padding-top: 5px; border-top: 0px;">
                <button type="button" id="btnReportsModal" class="btn btn-primary" data-toggle="modal"
                        data-target="#ReportsModal" data-backdrop="static" data-keyboard="false"
                        data-fnselect="SetReportGroup" data-fnclose="GetReportGroupList">
                    Add Report to Group
                </button>
                <button type="button" class="btn btn-danger" id="btnRemoveReportGroup" data-toggle="modal" data-target="#removeReportPop">Remove Report from Group</button>
            </div>

        </div>
        <div style="height:10px;" ></div> 

        <div class="lowerPane">
            <h3>User List</h3>
            <div id="grid2" style="min-width:400px;height:185px;overflow:auto;">
                <div>
                    <table class="table table-striped table-bordered table-condensed table-hover">
                        <thead>
                            <tr>
                                <th data-column="UserID">UserID</th>
                                <th data-column="UserType" data-sort="true" data-align="center">Type</th>
                                <th data-column="FullName" data-sort="true" data-search="true" data-action="grid2_click">Name</th>
                                <th data-column="Account" data-sort="true">Account ID</th>
                                <th data-column="Status" data-sort="true">Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 5px; padding-top: 5px; border-top: 0px;">
                <button type="button" id="btnUsersModal" class="btn btn-primary" data-toggle="modal"
                        data-target="#UsersModal" data-backdrop="static" data-keyboard="false"
                        data-fnselect="SetUserGroup" data-fnclose="GetUserGroupList">
                    Add User to Group
                </button>
                <button type="button" class="btn btn-danger" id="btnRemoveUserGroup"  data-toggle="modal" data-target="#removeUserPop">Remove User from Group</button>
            </div>
        </div>

    </div>
</div>
<div id="addGroupPop" class="modal fade" role="dialog" style="padding-top: 15%;" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add Group</h4>
            </div>
            <div class="modal-body">
                <form id="formAddGoup">
                    <div class="form-group">
                        <label for="txtGroupName" class="control-label">Group Name:</label>
                        <input type="text" class="form-control" id="txtGroupName">
                    </div>
                    <div class="form-group">
                        <label for="txtDescription" class="control-label">Description:</label>
                        <input type="text" class="form-control" id="txtDescription">
                    </div>
                    <div class="form-group">
                        <label for="selGroup" class="control-label">Parent Group:</label>
                        <select id="selGroup">
                        </select>
                    </div>               
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="formAddGoupSave">Add</button>
            </div>
        </div>
    </div>
</div>
<div id="removeGroupPop" class="modal fade" role="dialog" style="padding-top: 20%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >Remove Group</h4>
            </div>
            <div class="modal-body">
                <form id="formRemoveGoup">
                    <div class="form-group">
                        <label for="selGroupRemove" class="control-label">Group name:</label>
                        <select id="selGroupRemove"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="formRemoveGoupSave">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="addReportPop" class="modal fade" role="dialog" style="padding-top: 15%;" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add Report</h4>
            </div>
            <div class="modal-body">
                <form id="formAddReport">
                    <div class="form-group">
                        <label for="selGroupReport" class="control-label">Group:</label>
                        <select id="selGroupReport"></select>
                    </div>
                    <div class="form-group">
                        <label for="selReport" class="control-label">Report:</label>
                        <select id="selReport"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="formAddReportSave">Add</button>
            </div>
        </div>
    </div>
</div>
<div id="removeReportPop" class="modal fade" role="dialog"  style="padding-top: 15%;" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Remove Report</h4>
            </div>
            <div class="modal-body">
                <form id="formRemoveReport">
                    <div class="form-group">
                        <label for="selGroupReportRemove" class="control-label">Group:</label>
                        <select id="selGroupReportRemove"></select>
                    </div>
                    <div class="form-group">
                        <label for="selReportRemove" class="control-label">Report:</label>
                        <select id="selReportRemove"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="formRemoveReportSave">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="addUserPop" class="modal fade" role="dialog" style="padding-top: 15%;"  >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add User</h4>
            </div>
            <div class="modal-body">
                <form id="formAddUser">
                    <div class="form-group">
                        <label for="selGroupUser" class="control-label">Group:</label>
                        <select id="selGroupUser"></select>
                    </div>
                    <div class="form-group">
                        <label for="selUser" class="control-label">Report:</label>
                        <select id="selUser"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="formAddUserSave">Add</button>
            </div>
        </div>
    </div>
</div>
<div id="removeUserPop" class="modal fade" role="dialog" style="padding-top: 15%;"  >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Remove Report</h4>
            </div>
            <div class="modal-body">
                <form id="formRemoveUser">
                    <div class="form-group">
                        <label for="selGroupUserRemove" class="control-label">Group:</label>
                        <select id="selGroupUserRemove"></select>
                    </div>
                    <div class="form-group">
                        <label for="selUserRemove" class="control-label">Report:</label>
                        <select id="selUserRemove"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="formRemoveUserSave">Remove</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(init);

    function init() {
        reloadTree();
        jsTreeSelected();
        $('#formAddGoupSave').on('click', formAddGoupSave_click);
        $('#formRemoveGoupSave').on('click', formRemoveGoupSave_click);
        $('#formAddReportSave').on('click', formAddReportSave_click);
        $('#formRemoveReportSave').on('click', formRemoveReportSave_click);
        $('#formAddUserSave').on('click', formAddUserSave_click);
        $('#formRemoveUserSave').on('click', formRemoveUserSave_click);

        $('#addGroupPop').on('show.bs.modal', function (event) {
            setGroupSelect("selGroup");
            $("#txtGroupName").val("");
            $("#txtDescription").val("");
        });

        $('#removeGroupPop').on('show.bs.modal', function (event) {
            setGroupSelect("selGroupRemove");
        });

        $("#addReportPop").on('show.bs.modal', function (event) {
            setGroupSelect("selGroupReport");
            setReportSelect("selReport");
        });

        $("#removeReportPop").on('show.bs.modal', function (event) {
            setGroupSelect("selGroupReportRemove");
            setReportSelect("selReportRemove");
        });

        $("#addUserPop").on('show.bs.modal', function (event) {
            setGroupSelect("selGroupUser");
            setUserSelect("selUser");
        });

        $("#removeUserPop").on('show.bs.modal', function (event) {
            setGroupSelect("selGroupUserRemove");
            setUserSelect("selUserRemove");
        });
    }

    $(function () {
        $("#grid").moonGrid({
            pageNo: 1,
            pageSize: 1000,
            searchText: null,
            filterText: 0,
            orderColumn: null,
            orderDesc: null,
            url:"@Url.Action("GetListByGroup", "ReportView")",
            sync: true,
            showPager: false,
            showSort: true,
            showSearcher: false,
            showModal: false
        });
    });

    function grid_click(event) {
        window.location.href = "/ReportView/Index?ReportID=" + event.data.row.ReportID + "&width=100&height=650";
    }

    $(function () {
        $("#grid2").moonGrid({
            pageNo: 1,
            pageSize: 1000,
            searchText: null,
            filterText: 0,
            orderColumn: null,
            orderDesc: null,
            url: "@Url.Action("GetListByGroup", "Account")",
            sync: true,
            showPager: false,
            showSort: true,
            showSearcher: false,
            showModal: false
        });
    });

    function grid2_click(event) {
        window.location.href = "/Account/UserInfo?id=" + event.data.row.UserID;
    }


    function formAddGoupSave_click() {
        $.ajax({
            method: "POST",
            url: "@Url.Action("Add", "Group")",
            data: {
                GroupName: $("#txtGroupName").val(),
                Description: $("#txtDescription").val(),
                ParentGroup: $("#selGroup").val()
            },
            error: function () {
                console.error("formAddGoupSave_click ERROR");
            },
            success: function (data) {
                $(".close").click();
                $('#groupTree').jstree(true).refresh();
                setGroupSelect("selGroup");
            }
        });
    }

    function formRemoveGoupSave_click() {
        $.ajax({
            method: "POST",
            url: "@Url.Action("Remove", "Group")",
            data: {
                SelectedGroup: $("#selGroupRemove").val()
            },
            error: function () {
                console.error("formRemoveGoupSave_click ERROR");
            },
            success: function (data) {
                $(".close").click();
                $('#groupTree').jstree(true).refresh();
                setGroupSelect("selGroupRemove");
            }
        });
    }

    function formAddReportSave_click() {
        $.ajax({
            method: "POST",
            url: "@Url.Action("AddReport", "Group")",
            data: {
                GroupID: $("#selGroupReport").val(),
                ReportID: $("#selReport").val()
            },
            error: function () {
                console.error("formAddReportSave_click ERROR");
            },
            success: function (data) {
                $(".close").click();
                //setGroupSelect("selGroup");
            }
        });
    }

    function formRemoveReportSave_click() {
        $.ajax({
            method: "POST",
            url: "@Url.Action("RemoveReport", "Group")",
            data: {
                GroupID: $("#selGroupReportRemove").val(),
                ReportID: $("#selReportRemove").val()
            },
            error: function () {
                console.error("formRemoveReportSave_click ERROR");
            },
            success: function (data) {
                $(".close").click();
            }
        });
    }

    function formAddUserSave_click() {
        $.ajax({
            method: "POST",
            url: "@Url.Action("AddUser", "Group")",
            data: {
                GroupID: $("#selGroupUser").val(),
                UserID: $("#selUser").val()
            },
            error: function () {
                console.error("formAddUserSave_click ERROR");
            },
            success: function (data) {
                $(".close").click();
            }
        });
    }
    function formRemoveUserSave_click() {
        $.ajax({
            method: "POST",
            url: "@Url.Action("RemoveUser", "Group")",
            data: {
                GroupID: $("#selGroupUserRemove").val(),
                UserID: $("#selUserRemove").val()
            },
            error: function () {
                console.error("formAddUserpSave_click ERROR");
            },
            success: function (data) {
                $(".close").click();
            }
        });
    }

    function setReportSelect(name) {
        $.ajax({
            method: "POST", 
            url: "@Url.Action("GetListByGroup", "ReportView")",
            data: {
                filterText: 0
            },
            error: function () {
                console.error("setReportSelect ERROR");
            },
            success: function (data) {
                var dataArr = data.Rows;
                $("#" + name).empty();
                i = 0;
                $(dataArr).each(function (index, o) {
                    var $option = $("<option/>").attr("value", o.ReportID).text(o.ReportID + ": " + o.ReportName);
                    $("#" + name).append($option);
                    i++;
                });
            }
        });
    }

    function setUserSelect(name) {
        $.ajax({
            method: "POST", 
            url: "@Url.Action("GetListByGroup", "Account")",
            data: {
            filterText: 0
            },
            error: function () {
                console.error("setUserSelect ERROR");
            },
            success: function (data) {
                var dataArr = data.Rows;
                $("#" + name).empty();
                i = 0;
                $(dataArr).each(function (index, o) {
                    var $option = $("<option/>").attr("value", o.UserID).text(o.UserID + ": " + o.FullName);
                    $("#" + name).append($option);
                    i++;
                });
            }
        });
    }

    function setGroupSelect(name) {
        var treeData = $('#groupTree').jstree(true).get_json('#', { flat: true });
        $("#" + name).empty();
        $(treeData).each(function (index, o) {
            var $option = $("<option/>").attr("value", o.id).text(o.text);
            $("#" + name).append($option);
        });
    }

    function jsTreeSelected() {
        $('#groupTree').on('select_node.jstree', function (e, data) {
            var i, j, r = [];
            for (i = 0, j = data.selected.length; i < j; i++) {
                r.push(data.instance.get_node(data.selected[i]).id);
            }
            var selId = r.join(', ');

            groupID = data.node.id;
            $("#spanTitle").text(data.node.text);

            $("#gridFilterTextHidden").val(selId);
            $("#gridRefresh").trigger("click");
            $("#grid2FilterTextHidden").val(selId);
            $("#grid2Refresh").trigger("click");
        }).jstree();

    }

    function reloadTree() {
        $('#groupTree').jstree({
            'core': {
                'data': {
                    'url': "@Url.Action("GetList", "Group")",
                    'data': function (arg) {
                        console.info(arg);
                        return { 'UserId': 0, 'GroupId': 0 };
                    }
                }
            }
        });
    }


</script>
<script type="text/javascript">
    var groupID = 0;

    ///moongrid modal
    function modalMessage(gridID,title, body, footer) {
        if (footer)
            $('#' + gridID + 'Modal .modal-footer').show();
        else
            $('#' + gridID + 'Modal .modal-footer').hide();

        $('#' + gridID + 'Modal .modal-title').text(title);
        var modalbody = $('#' + gridID + 'Modal .modal-body');
        modalbody.children().remove();
        if (body == "")
            modalbody.append('<div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">Please wait for a while...</span></div></div>');
        else
            modalbody.append('<p>' + body + '</p>');
    }
    function modalShow(gridID, status) {
        if (status)
            $('#' + gridID + 'Modal').modal({ show: true, backdrop: 'static', keyboard: false });
        else
            $('#' + gridID + 'Modal').modal('hide');
    }

    function GetUserGroupList() {
        //to refresh grid
        $("#grid2Refresh").trigger("click");
    }

    var SetUserGroup = function (event) {
        var gridID = event.data.id;

        var list = $("#" + gridID + " input[name=" + gridID + "checkbox]:checked");
        if (list.length == 0)
        {
            modalMessage(gridID, "Warning", "You must select at least one user!", true);
            modalShow(gridID, true);
            return;
        }

        //progressing screen show
        modalMessage(gridID, "Progressing", "", false);
        modalShow(gridID, true);

        //make json data
        var jsonData = [];
        list.each(function () {
            jsonData.push({
                GroupID: groupID,
                UserID: $(this).data("value")
            })
        });
        //alert(JSON.stringify(jsonData));

        //call ajax
        var ajaxSetting = {
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            method: "POST",
            url: "@Url.Action("SetUserGroup", "Common")",
            async: true,
            timeout: 30000,
            data: JSON.stringify(jsonData),
            success: function (data, status, jqXHR) {
                if (data.ErrorMessage != null) {
                    modalMessage(gridID, "Error", data.ErrorMessage, true);
                    modalShow(gridID, true);
                    return;
                }
                modalMessage(gridID, "Success", "Successfully, Users were selected", true);
                $("#" + gridID + " input[name=" + gridID + "checkbox]:checked").prop("checked", false);
            },
            error: function (xhr, status, errorThrown) {
                var errText = "";
                if (xhr.status == 403) {
                    errText = "You do not have an appropriate permissions!"
                }
                else {
                    switch (status) {
                        case "timeout":
                            errText = "Request timed out";
                            break;
                        case "error":
                            errText = errorThrown;
                            break;
                        case "abort":
                            errText = "Request aborted";
                            break;
                        case "parsererror":
                            errText = "Parser error";
                            break;
                    }
                }
                modalMessage(gridID, "Error", errText, true);
                modalShow(gridID, true);
            }
        }
        $.ajax(ajaxSetting);
    }
</script>
<script type="text/javascript">

    function GetReportGroupList(){
        //alert("close");
        $("#gridRefresh").trigger("click");
    }

    var SetReportGroup = function (event) {
        var gridID = event.data.id;

        var list = $("#" + gridID + " input[name=" + gridID + "checkbox]:checked");
        if (list.length == 0)
        {
            modalMessage(gridID, "Warning", "You must select at least one report!", true);
            modalShow(gridID, true);
            return;
        }

        //progressing screen show
        modalMessage(gridID, "Progressing", "", false);
        modalShow(gridID, true);

        //make json data
        var jsonData = [];
        list.each(function () {
            jsonData.push({
                GroupID: groupID,
                ReportID: $(this).data("value")
            })
        });
        //alert(JSON.stringify(jsonData));

        //call ajax
        var ajaxSetting = {
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            method: "POST",
            url: "@Url.Action("SetReportGroup", "Common")",
            async: true,
            timeout: 30000,
            data: JSON.stringify(jsonData),
            success: function (data, status, jqXHR) {
                if (data.ErrorMessage != null) {
                    modalMessage(gridID, "Error", data.ErrorMessage, true);
                    modalShow(gridID, true);
                    return;
                }
                modalMessage(gridID, "Success", "Successfully, reports were selected!", true);
                $("#" + gridID + " input[name=" + gridID + "checkbox]:checked").prop("checked", false);
            },
            error: function (xhr, status, errorThrown) {
                var errText = "";
                if (xhr.status == 403) {
                    errText = "You do not have an appropriate permissions!"
                }
                else {
                    switch (status) {
                        case "timeout":
                            errText = "Request timed out";
                            break;
                        case "error":
                            errText = errorThrown;
                            break;
                        case "abort":
                            errText = "Request aborted";
                            break;
                        case "parsererror":
                            errText = "Parser error";
                            break;
                    }
                }
                modalMessage(gridID, "Error", errText, true);
                modalShow(gridID, true);
            }
        }
        $.ajax(ajaxSetting);
    }
</script>
@Html.Partial("_ReportListPartial")
@Html.Partial("_UserListPartial")
@section Scripts {
    @Styles.Render("~/Content/moonGrid")
    @Scripts.Render("~/bundles/moonGrid")
}




