@model CPK_Project.Models.MessageDetail

@{
    ViewBag.Title = "Message Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Message Details</h2>
<hr />
<div class="well">
    <div class="row">
        <div class="col-xs-3">
            <h4><strong>@Html.DisplayNameFor(model => model.Title)</strong></h4>
        </div>
        <div class="col-xs-9">
            <h4>@Html.DisplayFor(model => model.Title)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h4><strong>@Html.DisplayNameFor(model => model.UserID)</strong></h4>
        </div>
        <div class="col-xs-9">
            <h4>@Html.DisplayFor(model => model.UserID)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h4><strong>@Html.DisplayNameFor(model => model.SendDate)</strong></h4>
        </div>
        <div class="col-xs-9">
            <h4>@Html.DisplayFor(model => model.SendDate)</h4>
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
    <div class="row">
        <div class="col-xs-3">
            <h4><strong>@Html.DisplayNameFor(model => model.Recipients)</strong></h4>
        </div>
        <div class="col-xs-9">
            <h4>@Html.DisplayFor(model => model.Recipients)</h4>
        </div>
    </div>
    }
    <div class="row">
        <div class="col-xs-3">
            <h4><strong>@Html.DisplayNameFor(model => model.Content)</strong></h4>
        </div>
        <div class="col-xs-9">
            <h4>@Html.DisplayFor(model => model.Content)</h4>
        </div>
    </div>

</div>

<div style="text-align:center">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
</div>

