@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav">
    @if (Request.IsAuthenticated)
    {

        if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("User", "Index", "Account")</li>
            <li>@Html.ActionLink("Reports", "List", "ReportView")</li>
            <li>@Html.ActionLink("Group", "List", "Group")</li>
        }
        else
        {
            <li>@Html.ActionLink("Reports", "Reports", "Group")</li>
        }

    }
    <li>@Html.ActionLink("Help", "Help", "Home")</li>
</ul>

